.container-input {
  position: relative;
}

.error-input {
  bottom: 15px;
  left: 0;
  position: absolute;
  color: rgb(230, 80, 103);
  font-size: 10px;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  &:hover {
    box-shadow: 2px 2px 4px 3px rgba(136, 136, 136, 0.5);
  }
}

.button {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  padding: 11px;
  font-size: 16px;
  line-height: 17px;
  transition: ease-in-out 70ms box-shadow;

  &__primary,
  &__cancel,
  &__danger {
    cursor: pointer;
    &:hover {
      box-shadow: 2px 2px 4px 3px rgba(136, 136, 136, 0.5);
    }
  }

  &__primary {
    background-color: #7d60f5;
    color: #ffffff;
  }

  &__disabled {
    background-color: #978cc5;
    color: #ffffff;
    cursor: not-allowed;
  }

  &__cancel {
    background-color: rgba(73, 69, 69, 0.2);
    margin-left: 4px;
  }

  &__danger {
    background-color: rgb(230, 80, 103);
    color: #ffffff;
    margin-right: 4px;
  }
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #62595d;
  margin-bottom: 8px;
}
input {
  &[type="text"] {
    border: 1px solid #bfbbbd;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
  }
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

h2 {
  margin: 0;
  margin-bottom: 30px;
}
